@use "../abstracts/variables" as *;

.contact-us{
  width: 100%;
  height: 472px;
  background-image: url("/src/assets/images/contact-us.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // overflow: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    max-width: 1458px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    gap: 8px;
  }

  &__title {
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    width: 768px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: $text-color;
  }

  &__description {
    flex-grow: 0;
    flex-shrink: 0;
    width: 457px;
    text-align: left;
    color: $text-color;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__description-main {
    font-size: 18px;
  }

  &__description-sub {
    font-size: 16px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 140px;
    height: 44px;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 8px;
    background: $primary-color;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background: darken($primary-color, 5%);
    }
  }

  &__button-text {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: $text-color;
  }
}
