<div class="add-ons">
  <div class="add-ons__header">
    <h2 class="add-ons__title">Add on extras</h2>
  </div>
  <div class="add-ons__list">
    <!-- Unlimited Mileage -->
    <div class="add-ons__item add-ons__item--active">
      <div class="add-ons__item-content">
        <svg class="add-ons__item-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-mileage"></use>
        </svg>
        <ul class="add-ons__item-info">
          <li class="add-ons__item-name">Unlimited Mileage</li>
          <li class="add-ons__item-price">$15</li>
        </ul>
      </div>
      <div class="add-ons__item-action">
        <svg class="add-ons__item-action-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-minus"></use>
        </svg>
      </div>
    </div>

    <!-- Cross-border Fee -->
    <div class="add-ons__item">
      <div class="add-ons__item-content">
        <svg class="add-ons__item-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-border"></use>
        </svg>
        <ul class="add-ons__item-info">
          <li class="add-ons__item-name">Cross-border Fee</li>
          <li class="add-ons__item-price">15 EUR</li>
        </ul>
      </div>
      <div class="add-ons__item-action">
        <svg class="add-ons__item-action-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-plus"></use>
        </svg>
      </div>
    </div>

    <!-- Full Tank Service -->
    <div class="add-ons__item">
      <div class="add-ons__item-content">
        <svg class="add-ons__item-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-petrol"></use>
        </svg>
        <ul class="add-ons__item-info">
          <li class="add-ons__item-name">Full Tank Service</li>
          <li class="add-ons__item-price">15 EUR</li>
        </ul>
      </div>
      <div class="add-ons__item-action">
        <svg class="add-ons__item-action-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-plus"></use>
        </svg>
      </div>
    </div>

    <!-- Child Seat -->
    <div class="add-ons__item">
      <div class="add-ons__item-content">
        <svg class="add-ons__item-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-child"></use>
        </svg>
        <ul class="add-ons__item-info">
          <li class="add-ons__item-name">Child Seat</li>
          <li class="add-ons__item-price">15 EUR</li>
        </ul>
      </div>
      <div class="add-ons__item-action">
        <svg class="add-ons__item-action-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-plus"></use>
        </svg>
      </div>
    </div>

    <!-- GPS Navigation System -->
    <div class="add-ons__item">
      <div class="add-ons__item-content">
        <svg class="add-ons__item-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-gps"></use>
        </svg>
        <ul class="add-ons__item-info">
          <li class="add-ons__item-name">GPS Navigation System</li>
          <li class="add-ons__item-price">15 EUR</li>
        </ul>
      </div>
      <div class="add-ons__item-action">
        <svg class="add-ons__item-action-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-plus"></use>
        </svg>
      </div>
    </div>

    <!-- Wi-Fi Hotspot -->
    <div class="add-ons__item">
      <div class="add-ons__item-content">
        <svg class="add-ons__item-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-wifi"></use>
        </svg>
        <ul class="add-ons__item-info">
          <li class="add-ons__item-name">Wi-Fi Hotspot</li>
          <li class="add-ons__item-price">15 EUR</li>
        </ul>
      </div>
      <div class="add-ons__item-action">
        <svg class="add-ons__item-action-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-plus"></use>
        </svg>
      </div>
    </div>

    <!-- Additional Driver -->
    <div class="add-ons__item">
      <div class="add-ons__item-content">
        <svg class="add-ons__item-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-driver"></use>
        </svg>
        <ul class="add-ons__item-info">
          <li class="add-ons__item-name">Additional Driver</li>
          <li class="add-ons__item-price">15 EUR</li>
        </ul>
      </div>
      <div class="add-ons__item-action">
        <svg class="add-ons__item-action-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-plus"></use>
        </svg>
      </div>
    </div>

    <!-- Roadside Waiver -->
    <div class="add-ons__item">
      <div class="add-ons__item-content">
        <svg class="add-ons__item-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-roadside"></use>
        </svg>
        <ul class="add-ons__item-info">
          <li class="add-ons__item-name">Roadside Waiver</li>
          <li class="add-ons__item-price">15 EUR</li>
        </ul>
      </div>
      <div class="add-ons__item-action">
        <svg class="add-ons__item-action-icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-plus"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
