<div class="breadcrumb">
  <p class="breadcrumb__item">Home</p>
  <svg
    class="breadcrumb__arrow"
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
  >
    <path
      d="M6 12L10 8L6 4"
      stroke="#4F4F51"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></path>
  </svg>
  <p class="breadcrumb__item">Search results</p>
  <svg
    class="breadcrumb__arrow"
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
  >
    <path
      d="M6 12L10 8L6 4"
      stroke="#4F4F51"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></path>
  </svg>
  <p class="breadcrumb__item breadcrumb__item--active">Volkswagen Touareg</p>
</div>
