<div class="car-summary">
  <div class="car-summary__image-container">
    <img
      src="/src/assets/images/cars/volkswagen-touareg.webp"
      alt="Volkswagen Touareg"
      class="car-summary__image"
    />
  </div>
  <div class="car-summary__content">
    <p class="car-summary__title">Volkswagen Touareg</p>
    <div class="car-summary__details">
      <p class="car-summary__category">or similar Intermediate</p>
      <p class="car-summary__duration">1 rental day</p>
    </div>
  </div>
</div>
