<div class="car-card">
  <!-- Content -->
  <div id="book" class="car-card__content">
    <div class="car-card__header">
      <h2 class="car-card__title">Volkswagen Touareg</h2>
      <div class="car-card__price">
        <span class="car-card__price-amount">32,98</span>
        <span class="car-card__price-currency">EUR/day</span>
      </div>
    </div>

    <div class="car-card__features">
      <h3 class="car-card__features-title">Included in Price</h3>
      <ul class="car-card__features-list">
        <li class="car-card__feature">
          <svg class="car-card__feature-icon" width="16" height="16">
            <use href="/src/assets/icons/sprite.svg#checkmark-circle"></use>
          </svg>
          <span>Airport/City Fee</span>
        </li>
        <li class="car-card__feature">
          <svg class="car-card__feature-icon" width="16" height="16">
            <use href="/src/assets/icons/sprite.svg#checkmark-circle"></use>
          </svg>
          <span>Local Tax</span>
        </li>
        <li class="car-card__feature">
          <svg class="car-card__feature-icon" width="16" height="16">
            <use href="/src/assets/icons/sprite.svg#checkmark-circle"></use>
          </svg>
          <span>Registration Fee</span>
        </li>
        <li class="car-card__feature">
          <svg class="car-card__feature-icon" width="16" height="16">
            <use href="/src/assets/icons/sprite.svg#checkmark-circle"></use>
          </svg>
          <span>Unlimited Mileage</span>
        </li>
      </ul>
    </div>
    <!--  -->
    <div class="car-card__specs">
      <div class="car-card__spec">
        <svg class="car-card__spec-icon" width="16" height="16">
          <use href="/src/assets/icons/sprite.svg#icon-doors"></use>
        </svg>
        <span>5 Doors</span>
      </div>
      <div class="car-card__spec">
        <svg class="car-card__spec-icon" width="16" height="16">
          <use href="/src/assets/icons/sprite.svg#luggage"></use>
        </svg>
        <span>3 Suitcase</span>
      </div>
      <div class="car-card__spec">
        <svg class="car-card__spec-icon" width="16" height="16">
          <use href="/src/assets/icons/sprite.svg#icon-gearbox"></use>
        </svg>
        <span>5 Manual</span>
      </div>
      <div class="car-card__spec">
        <svg class="car-card__spec-icon" width="16" height="16">
          <use href="/src/assets/icons/sprite.svg#icon-passengers"></use>
        </svg>
        <span>5 Passengers</span>
      </div>
    </div>
  </div>

  <!-- Car image -->
  <div class="car-card__image-container">
    <svg class="car-card__image-bg" width="621" height="482">
      <use href="/src/assets/icons/sprite.svg#icon-hero-bg"></use>
    </svg>

    <img
      class="car-card__image"
      src="/src/assets/images/volkswagen-touareg.webp"
      alt="Volkswagen Touareg"
    />
  </div>
</div>
