<footer class="footer">
  <div class="footer__content">
    <div class="footer__top">
      <div class="footer__brand">
        <a href="/" class="footer__logo-container">
          <svg class="icon--logo" width="126" height="16">
            <use href="/src/assets/icons/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer__tagline">Your Trusted Ride Awaits.</p>
      </div>
      <!-- Subscribe input -->
      <div class="footer__subscribe">
        <div class="footer__email-container">
            <label class="footer__email-label footer__label-text">Stay up to date</label>
          <input class="footer__email-input" type="email" placeholder="Enter your email">
            
          </input>
        </div>
        <button class="footer__subscribe-button">
          <p class="footer__button-text">Subscribe</p>
        </button>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">
        <p class="footer__copyright-text">
          © 2077 Untitled UI. All rights reserved.
        </p>
        <div class="footer__links">
          <a href="#" class="footer__link">Terms</a>
          <a href="#" class="footer__link">Privacy</a>
          <a href="#" class="footer__link">Cookies</a>
        </div>
      </div>
    </div>
  </div>
</footer>
