<header class="header">
  <div class="header__left">
    <a href="/" class="header__logo">
      <svg class="icon--logo" width="126" height="16">
        <use href="/src/assets/icons/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <a href="/#book" class="header__nav-link">Book</a>
      <a href="/#help" class="header__nav-link">Help</a>
      <a href="/#faq" class="header__nav-link">FAQ</a>
      <a href="/#rental-policies" class="header__nav-link">Rental Policies</a>
      <a href="/#blog-guides" class="header__nav-link">Blog&Guides</a>
    </nav>
  </div>
  <div class="header__right">
    <button class="header__action header__action-text--language">
      <span class="header__action-text ">EN</span>
      <svg class="" width="24" height="24">
        <use href="/src/assets/icons/sprite.svg#icon-chevron-down"></use>
      </svg>
    </button>
    <button class="header__action header__action-text--phone">
      <svg class="icon--phone" width="24" height="24">
        <use href="/src/assets/icons/sprite.svg#icon-phone"></use>
      </svg>

      <a href="tel:+15551234567" class="header__action-text">+123 456 7890</a>
    </button>
    <button class="header__action header__action--sign-in">
      <svg class="" width="24" height="24">
        <use href="/src/assets/icons/sprite.svg#icon-sign-in"></use>
      </svg>

      <span class="header__action-text">Sign In</span>
    </button>
    <button class="header__action header__action--burger-menu">
      <svg class="icon" width="24" height="24">
        <use href="/src/assets/icons/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
    </svg>
  </div>
</header>
