<div class="insurance">
  <div class="insurance__header">
    <h2 class="insurance__title">Insurance</h2>
  </div>
  <div class="insurance__options">
    <!-- No Insurance -->
    <div class="insurance__option">
      <div class="insurance__option-content">
        <div class="insurance__option-header">
          <p class="insurance__option-name">No Insurance</p>
          <h3 class="insurance__option-title">Free</h3>
        </div>
        <h6 class="insurance__option-notice-title">Important Notice:</h6>
        <!-- "insurance__option-notice" -->
        <ul class="insurance__option-features">
          <!-- "insurance__option-notice-item" -->
          <li class="insurance__option-feature">
            <svg class="insurance__option-notice-icon" width="16" height="16">
              <use href="/src/assets/icons/sprite.svg#warning"></use>
            </svg>
            <p class="insurance__option-notice-text">
              You are fully responsible for any damage to the vehicle.
            </p>
          </li>
          <div class="insurance__option-notice-item">
            <svg class="insurance__option-notice-icon" width="16" height="16">
              <use href="/src/assets/icons/sprite.svg#warning"></use>
            </svg>
            <p class="insurance__option-notice-text">
              Full repair costs will be charged in case of an accident or damage
              (no financial limit).
            </p>
          </div>
        </ul>
        <p class="insurance__option-recommendation">
          We strongly recommend choosing one of the insurance options to ensure
          a worry-free journey.
        </p>
      </div>
    </div>

    <!-- Basic Insurance -->
    <div class="insurance__option insurance__option--basic">
      <div class="insurance__option-content">
        <div class="insurance__option-header">
          <p class="insurance__option-name">Basic Insurance</p>
          <h3 class="insurance__option-title">15 EUR/day</h3>
        </div>
        <ul class="insurance__option-features">
          <li class="insurance__option-feature">
            <svg class="insurance__option-feature-icon--white" width="16" height="16">
              <use
                href="/src/assets/icons/sprite.svg#checkmark-circle"
              ></use>
            </svg>
            <p class="insurance__option-feature-text">
              Coverage for vehicle damage in case of an accident (with excess).
            </p>
          </li>
          <li class="insurance__option-feature">
            <svg class="insurance__option-feature-icon--white" width="16" height="16">
              <use
                href="/src/assets/icons/sprite.svg#checkmark-circle"
              ></use>
            </svg>
            <p class="insurance__option-feature-text">
              Limited financial liability with a deductible/excess.
            </p>
          </li>
          <li class="insurance__option-feature">
            <svg class="insurance__option-feature-icon--white" width="16" height="16">
              <use
                href="/src/assets/icons/sprite.svg#checkmark-circle"
              ></use>
            </svg>
            <p class="insurance__option-feature-text">
              Partial coverage for car body damages (does not cover tires,
              windows, roof, or undercarriage).
            </p>
          </li>
        </ul>
      </div>
    </div>

    <!-- Comprehensive Insurance -->
    <div class="insurance__option">
      <div class="insurance__option-content">
        <div class="insurance__option-header">
          <p class="insurance__option-name">Comprehensive Insurance</p>
          <h3 class="insurance__option-title">25 EUR/day</h3>
        </div>
        <ul class="insurance__option-features">
          <li class="insurance__option-feature">
            <svg class="insurance__option-feature-icon" width="16" height="16">
              <use
                href="/src/assets/icons/sprite.svg#checkmark-circle"
              ></use>
            </svg>
            <p class="insurance__option-feature-text">
              Full coverage for all damages (including tires, windows, roof, and
              undercarriage).
            </p>
          </li>
          <li class="insurance__option-feature">
            <svg class="insurance__option-feature-icon" width="16" height="16">
              <use
                href="/src/assets/icons/sprite.svg#checkmark-circle"
              ></use>
            </svg>
            <p class="insurance__option-feature-text">Theft protection.</p>
          </li>
          <li class="insurance__option-feature">
            <svg class="insurance__option-feature-icon" width="16" height="16">
              <use
                href="/src/assets/icons/sprite.svg#checkmark-circle"
              ></use>
            </svg>
            <p class="insurance__option-feature-text">
              No deductible/excess (or minimal excess).
            </p>
          </li>
          <li class="insurance__option-feature">
            <svg class="insurance__option-feature-icon" width="16" height="16">
              <use
                href="/src/assets/icons/sprite.svg#checkmark-circle"
              ></use>
            </svg>
            <p class="insurance__option-feature-text">
              Roadside assistance in case of breakdowns or accidents.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
