<div class="progress-indicator">
  <div class="progress-indicator__step progress-indicator__step--active">
    <svg
      class="progress-indicator__line progress-indicator__line--right"
      width="49"
      height="1"
      viewBox="0 0 49 1"
    >
      <line y1="0.5" x2="49" y2="0.5" stroke="#B68867" />
    </svg>
    <div class="progress-indicator__step-content">
      <div class="progress-indicator__icon-wrapper">
        <svg
          class="progress-indicator__icon-circle"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <circle cx="12" cy="12" r="12" fill="#C5A085" />
        </svg>
        <svg
          class="progress-indicator__icon-check"
          width="16"
          height="16"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.3654 4.23447C13.5154 4.3845 13.5997 4.58794 13.5997 4.80007C13.5997 5.0122 13.5154 5.21565 13.3654 5.36567L6.96544 11.7657C6.81542 11.9156 6.61197 11.9999 6.39984 11.9999C6.18771 11.9999 5.98426 11.9156 5.83424 11.7657L2.63424 8.56567C2.48851 8.41479 2.40788 8.21271 2.4097 8.00295C2.41152 7.7932 2.49566 7.59255 2.64398 7.44422C2.79231 7.29589 2.99296 7.21176 3.20272 7.20993C3.41247 7.20811 3.61456 7.28875 3.76544 7.43447L6.39984 10.0689L12.2342 4.23447C12.3843 4.0845 12.5877 4.00024 12.7998 4.00024C13.012 4.00024 13.2154 4.0845 13.3654 4.23447Z"
            fill="#FEFEFF"
          />
        </svg>
      </div>
      <p class="progress-indicator__step-label">Add on extras</p>
    </div>
  </div>

  <div class="progress-indicator__step progress-indicator__step--current">
    <svg
      class="progress-indicator__line progress-indicator__line--left"
      width="49"
      height="1"
      viewBox="0 0 49 1"
    >
      <line x1="4.37114e-8" y1="0.5" x2="49" y2="0.500004" stroke="#B68867" />
    </svg>
    <svg
      class="progress-indicator__line progress-indicator__line--right"
      width="49"
      height="1"
      viewBox="0 0 49 1"
    >
      <line x1="4.37114e-8" y1="0.5" x2="49" y2="0.500004" stroke="#C5A085" />
    </svg>
    <div class="progress-indicator__step-content">
      <div class="progress-indicator__icon-wrapper">
        <svg
          class="progress-indicator__icon-circle"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <circle cx="12" cy="12" r="12" fill="#B68867" fill-opacity="0.2" />
        </svg>
        <svg
          class="progress-indicator__icon-circle"
          width="14"
          height="14"
          viewBox="0 0 14 14"
        >
          <circle cx="7" cy="7" r="6.5" fill="#B68867" stroke="#FEFEFF" />
        </svg>
      </div>
      <p class="progress-indicator__step-label">Insurance</p>
    </div>
  </div>

  <div class="progress-indicator__step">
    <svg
      class="progress-indicator__line progress-indicator__line--left"
      width="98"
      height="1"
      viewBox="0 0 98 1"
    >
      <line x1="4.37114e-8" y1="0.5" x2="98" y2="0.500009" stroke="#4F4F51" />
    </svg>
    <div class="progress-indicator__step-content">
      <div class="progress-indicator__icon-wrapper">
        <svg
          class="progress-indicator__icon-circle"
          width="12"
          height="12"
          viewBox="0 0 12 12"
        >
          <circle cx="6" cy="6" r="6" fill="#4F4F51" />
        </svg>
      </div>
      <p class="progress-indicator__step-label">Confirm Order</p>
    </div>
  </div>

  <div class="progress-indicator__step">
    <svg
      class="progress-indicator__line progress-indicator__line--left"
      width="49"
      height="1"
      viewBox="0 0 49 1"
    >
      <line y1="0.5" x2="49" y2="0.5" stroke="#4F4F51" />
    </svg>
    <div class="progress-indicator__step-content">
      <div class="progress-indicator__icon-wrapper">
        <svg
          class="progress-indicator__icon-circle"
          width="12"
          height="12"
          viewBox="0 0 12 12"
        >
          <circle cx="6" cy="6" r="6" fill="#4F4F51" />
        </svg>
      </div>
      <p class="progress-indicator__step-label">Payment</p>
    </div>
  </div>
</div>
